.how-it-works {
  min-height: 40vh;
  background: transparent;
  color: white;
  padding: 25vh 40px;
  text-align: center;
}

.how-it-works h2 {
    font-size: 4rem;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 1);
}

.steps {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
  flex-wrap: wrap;
}

.step {
  /*background: rgba(205, 110, 8, 0.077);
  backdrop-filter: blur(10px); */
  color: white;
  background: linear-gradient(
    to bottom,
    rgba(255, 140, 0, 0.95),
    rgba(255, 90, 0, 0.95)
  );
  /* background: linear-gradient(
    to bottom,
    rgba(255, 140, 0),
    rgba(255, 90, 0)
  ); */
  padding: 30px;
  border-radius: 16px;
  width: 280px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}