.upload-card {
    max-width: 750px;
    color: #fff;
    background: linear-gradient(
        to bottom,
        rgba(255, 140, 0, 0.95),
        rgba(255, 90, 0, 0.95)
    );
    margin: 20px auto;
    padding: 40px;
    border-radius: 16px;

    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    text-align: center;
}

.upload-card h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.upload-card ul {
    list-style: none;
    padding: 0;
}

.upload-card li {
    margin-bottom: 12px;
    padding-left: 18px;
    position: relative;
    line-height: 1.5;
    opacity: 0.9;
}

/* bullet styling */
.upload-card li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: #ff6b00;
    font-weight: bold;
}