:root {
  --text: #ffffff;
  --bg: #0b0c10;
  --accent: #ff6b00;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: url("/markus-spiske-BfphcCvhl6E-unsplash.jpg") center/cover fixed no-repeat;
  color: var(--text);
  font-family: system-ui, sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0 12px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}
